@{
    ViewBag.Title = "Login";
}

@*--------------------------------------------Login Page----------------------------------------------------*@
<style>
    body {
        background: url('../images/img_6.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-size: 12px;
    }

    .login-input {
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
    }
</style>
<div ng-app="testModule" ng-controller="testController" ng-init="getAllEmployee()" ng-cloak>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-info" style="max-width:98%;background: white;margin-left: auto;margin-right: auto;margin-top: 5%;">
            <div class="panel-heading" style="padding: 10px; background: #33678c; color: #fff; font-weight: bold;">
                Test Emp. Information
            </div>
            <div>
                <input type="text" class="form-control" ng-model="RegID" placeholder="RegID" />
                <input type="text" class="form-control" ng-model="EmpID" placeholder="EmpID" />
                <input type="text" class="form-control" ng-model="EmpName" placeholder="EmpName" />
                <input type="text" class="form-control" ng-model="DepartmentName" placeholder="DepartmentName" />
                <input type="text" class="form-control" ng-model="SectionName" placeholder="SectionName" />
                <input type="text" class="form-control" ng-model="Designation" placeholder="Designation" />
                <input type="text" class="form-control" ng-model="Salary" placeholder="Salary" />
                <button class="btn btn-primary" ng-click="editEmployee(emp)">Save</button>
                <br />
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Emp. ID</th>
                            <th>Emp. Name</th>
                            <th>Designation</th>
                            <th>Salary</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="emp in lstEmp">
                            <td>{{ emp.EmpID }}</td>
                            <td>{{ emp.EmpName }}</td>
                            <td>{{ emp.Designation }}</td>
                            <td>{{ emp.Salary }}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="editEmployee(emp)">Edit</button>
                                <button class="btn btn-primary" ng-click="deleteEmployee(emp)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jsController/testController.js"></script>
}